[data-histre-hn-tag-wrap] .histre-hn-tag:link,
[data-histre-hn-tag-wrap] .histre-hn-tag:visited {
  margin-left: 4px;
  color: #828282;
  font-size: 10pt;
}

[data-histre-hn-tag-wrap] .histre-hn-tag:hover {
  text-decoration: underline;
}
